#main-header {

    #header-navs {

        $headerHeight: 70px;
        height: $headerHeight;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;

        & > * {height: 100%;}

        #header-nav-wrapper {

            height: $headerHeight - 1;

            & > * {
                & > * {
                    height: $headerHeight;
                }
            }

            & > *:nth-child(1) {
                & > * {
                    border-right: 1px solid $light-gray;
                }
            }


            & > *:nth-child(3) {
                & > * {
                    border-left: 1px solid $light-gray;
                }
            }
        }


        #main-navigation {
            & > ul {
                & > li {
                    & > a {
                        min-height: $headerHeight - 1;
                    }
                }
            }

            a {
                font-size: 13px;
                letter-spacing: .5px;
            }
        }
    }



    // Search
    #search-line-full {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;

        form {
            background-color: white;
            z-index: 9;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            .uk-search-input {
                height: 100%;
                border: none;
            }
        }


        &.active {
            height: 100%;
            visibility: visible;
            opacity: 1;

            form {
                background-color: #f7f7f7;
            }
        }

        // Search close button
        #close-main-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
}