::selection {
    background: $primaryColor;
    color: #fff;
    text-shadow: none;
}




.uk-card {

    img {
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    .uk-card-media-top {
        position: relative;
    }

    .uk-card-body {

        h1, h2, h3 {
            font-weight: bold;
        }

        text-align: center;

        .description {
            color: $gray;
            font-size: 15px;
        }
    }

    p, h1, h2, h3, h5 {
        margin-bottom: -5px;
    }




    // Custom card
    &.custom-card {
        position: relative;
        padding: 35px;
        border: 1px solid $light-gray;

        label {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            padding: 0 8px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
        }

        h1, h2, h3 {
            font-size: 18px;
            font-weight: 400;
        }

        p {
            font-size: 14px;
            font-weight: 100;
        }
    }
}




.recent-posts {

    margin: 0;
    padding: 0;
    list-style: none;

    li {

        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $light-gray;
        position: relative;

        &:last-child {
            border: none;
            margin: 0;
            padding: 0;
        }

        & > div {
            display: flex;

            & > *:nth-child(1) {
                img {
                    margin-right: 15px;
                    display: block;
                    height: 100%;
                    width: 100%;
                }

                object-fit: cover;
                width: 70px;
                height: 70px;
            }

            & > *:nth-child(2) {
                
                flex: 1;
                margin-left: 10px;
                position: relative;
                top: -4px;

                p {
                    font-size: 12px;
                    font-weight: 100;
                }
            }
        }
    }
}






// Tags
.tags-group {

    a.tag {

        color: $gray;
        font-weight: 100;
        font-size: 12px;
        border: 1px solid $light-gray;
        padding: 3px 8px;
        text-decoration: none;
        display: inline-block;
        margin-right: 0px;
        margin-bottom: 5px;
        transition: all .1s ease;
        background-color: white;

        &:hover {
            background-color: $primaryColor;
            color: white;
            border-color: $primaryColor;
        }
    }
}






.absolute-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}






// Advertisement
.sidebar-dvertisement {
    display: block;
    object-fit: contain;

    img {
        display: block;
        width: auto;
        height: initial;
    }
}





// Footer
#main-footer {
    .socials {
        a {
            background-color: #ebebeb;
        }
    }


    .footer-copyright {
        background-color: #ebebeb;
        padding: 20px 0;
    }
}





.layer-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
}




// Featured slideshow
#featured-articles-slideshow {
    .uk-slidenav {
        color: white;
        width: 45px;
        height: 45px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        svg {
            color: white;
            width: 14px;
            height: 14px;
        }
    }
}




.min-height {
    min-height: 520px;
}

.cover-image {
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }
}





// Social buttons
#floating-share {
    position: absolute;
    left: -20px;
    top: 0;
    flex-direction: column;
    transition: top .5s ease;

    a {
        margin-bottom: 15px;

        &:last-child {
            margin: 0;
        }
    }


    &.fixed {
        position: fixed;
        left: 440px;
        top: 110px;
    }
}



.title {
    color: $primaryColor;
    font-weight: 100;
    text-transform: uppercase;
}

* {
    font-weight: 100;
}

p, a, span {
    font-size: 18px;
}